.addFormTitle {
    text-align: center;
    color: #fff;
    margin: 0 0 2rem;
}

.addForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    gap: 1rem;
}

.addBtn {
    margin: 1rem 0 0;
    width: 100px;
    padding: 0.8em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    align-self: center;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    font-family: inherit;
    font-size: inherit;

    &:is(:hover, :active, :focus) {
        color: #333;
        background-color: #fff;
    }
}

.msg {
    font-weight: 700;
}
